<div class="container-fluid text-center">
  <h2>Les formations qui vous sont recommandées en fonction de votre profil</h2>
  <br>
  <div class="row">
    <div class="col-sm-4">
      <h4>BTS</h4>
      <p>MUC</p>
    </div>
    <div class="col-sm-4">
      <h4>LICENCE</h4>
      <p>Gestion</p>
    </div>
    <div class="col-sm-4">
      <h4>BACHELOR</h4>
      <p>Management</p>
    </div>
  </div>
</div>